@charset "UTF-8";
@font-face {
    font-family: 'myfont';
    src: url('../fonts/BYekan.eot'), 
        url('../fonts/BYekan.eot?#FooAnything') format('embedded-opentype');
    src: local('☺'), url('../fonts/BYekan.woff') format('woff'), 
        url('../fonts/BYekan.ttf') format('truetype'),
        url('../fonts/BYekan.svg') format('svg');
    font-weight: 200;
}
.panel.panel-primary{
    font-family: myfont !important;
}
.panel-group {
    font-family: myfont!important;
    text-align: right;
}
body, html {
    height: 100%;
    width: 100%;
}
.panel-primary {
    font-family: myfont;
    text-align: right;
    font-weight: 800;
    margin-bottom: 0px !important;
}
.tablescroll {
    overflow: auto;
    width: 100%;
    max-height: 400px;
}
.searchscroll {
    overflow: auto;
    width: 100%;
    height: 200px;
}
.panel-heading {
    font-weight: 800;
}
.panel-footer {
    text-align: left !important;
    direction: rtl!important;
}
hr {
    margin: 10px 0 10px 0;
}
select > option {
    font-weight: 800;
}
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: myfont;
  font-size: 14px;
}
#cssmenu {
    width: 100%;
    border-top: 1px solid #b7b7b7;
    background-color: #edf4fe;
    position: relative;
    margin: 3px;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}
#cssmenu > ul > li:first-child > a {
  border: none;
  font-family: myfont;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}
    #cssmenu > ul > li {
        background: #dae2ea;
        background: -moz-linear-gradient(#dae2ea 0%, #dae2ea 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dae2ea), color-stop(100%, #dae2ea));
        background: -webkit-linear-gradient(#dae2ea 0%, #dae2ea 100%);
        background: linear-gradient(#dae2ea 0%, #dae2ea 100%);
    }
        #cssmenu > ul > li:hover {
            background: #c7ced6;
            background: -moz-linear-gradient(#c7ced6 0%, #c7ced6 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7ced6), color-stop(100%, #c7ced6));
            background: -webkit-linear-gradient(#c7ced6 0%, #c7ced6 100%);
            background: linear-gradient(#c7ced6 0%, #c7ced6 100%);
        }
        #cssmenu > ul > li > a {
            font-size: 14px;
            display: block;
            color: #000000;
            border: 1px solid #b7b7b7;
            border-top: none;
            text-align: right;
        }
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
    font-weight: 800;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
        #cssmenu > ul > li.has-sub > a span {
            background: url(../Images/icon_plus.png) 96% center no-repeat;
            background-position: left 10px top 12px;
            background-size: 15px;
        }
        #cssmenu > ul > li.has-sub.active > a span {
            background: url(../Images/icon_minus.png) no-repeat;
            background-position: left 10px top 12px;
            background-size: 15px;
        }
/* Sub menu */
    #cssmenu ul ul {
        display: none;
        background: #fff;
        border-right: 1px solid #b7b7b7;
        border-left: 1px solid #b7b7b7;
        border-bottom: 1px solid #b7b7b7;
    }
#cssmenu ul ul li {
    position: relative;
    padding: 0;
    border: none;
    background: #ecf3fd;
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 0px 40px 0px 0px;
  display: block;
  color: #676767;
  font-size: 14px;
  text-align: right;
}
    #cssmenu ul ul a:before {
        position: absolute;
        right: 0px;
        color: #000000;
    }
    #cssmenu ul ul a:hover {
        color: #000000;
        font-weight: 800;
        transition: all 0.2s;
        background-color: #d5d8db;
    }
.Icon1 {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
    right: 5px;
    top: 7px;
}
.gridstyle {
    display: inline-block;
    position: center;
    margin: 5px;
    direction: rtl;
}
.table th {
    text-align: center !important;
    background-color: #0c0183;
    color: #fefefe;
    border: none !important;
}
.table {
    font-family: myfont;
    text-align: center;
    font-size: 10pt;
    font-weight: 800;
    border: 1px solid black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 0!important;
}
.table tr th { padding: 2px 5px !important;}
    .table td {
        padding: 2px 5px !important;
        vertical-align: middle !important;
        border: none !important;
        border-bottom: #c7ced6 1px solid !important;
        border-top: #c7ced6 1px solid !important;
        text-shadow: -1px 0px 1px rgba(149, 150, 150, 1);
    }
.table td a { margin-top: 5px;}
.table td span { margin-top: 5px;}
.table tr:nth-child(even){background-color: #fefefe;}
.table tr:nth-child(odd){background-color: #f7f6fe;}
.SubSystemTable {
    width: 100%;
    font-family: myfont;
    font-size: 10pt;
    font-weight: 800;
    overflow: hidden;
    margin-bottom: 0 !important;
    border: 1px solid #ece9ff;
    border-top: none;
}
.SubSystemTable tr td{padding: 3px 10px}
.SubSystemTable tr:nth-child(even){background-color: #fefefe;}
.SubSystemTable tr:nth-child(odd){background-color: #f7f6fe;}
.PartsTable {
    width: 100%;
    font-family: myfont;
    font-size: 10pt;
    font-weight: 800;
    overflow: hidden;
    margin-bottom: 0 !important;
    border: 1px solid #ece9ff;
    border-top: none;
}

    .PartsTable tr td {
        padding: 3px 10px
    }

    .PartsTable tr:nth-child(even) {
        background-color: #fefefe;
    }

    .PartsTable tr:nth-child(odd) {
        background-color: #f7f6fe;
    }
.mainbody {
    border-radius: 5px;
    padding: 5px;
    border-width: 10px;
    background-color: #e0edff;
    box-shadow: 0px 0px 5px rgba(0,0,0,1);          
    width: 1280px;
    min-height: 110vh;
}
.background_image {
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
    width: 100%;
    margin-left: 3px;
    margin-bottom: 3px;
    height: auto;
}
.background_pattern {
    background-image: url(../Images/gplaypattern.jpg);
}
.header_image {
    width:100%;
    position: relative;
    display: inline-block;
    padding-right:6px;
    margin-top: 2px;
}
label {
    font-family: myfont;
}
.menu {
    font-family: myfont;
    font-weight: 800;
    margin-top: -7px;
    margin-right: 3px;
    margin-left: -4px;
    height: auto;
    position: relative;
    display: block;
    padding: 10px 0px 0px 7px;
}
.textstyle {
    background-color: Transparent;
    font-family: myfont;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: 800;
    display: block;
    width: 100%;
    text-align: right;
    height: 40px;
    padding: 0;
}
.textstyle:hover {
    color: #000000;
    font-weight: 800;
    transition: all 0.2s;
}
.main_panel {
    padding: 10px;
    margin: 0px ;
    background-color: #eef5ff;
    box-shadow: 0px 0px 3px rgba(1,1,1,1);
    width: 100%;
    height: 100%;
}
.form-group {
    font-family: myfont;
}
.form-control {
    font-family: myfont;
    font-weight: 800;
}
.inline {
    font-family: myfont;
    font-size: 10pt;
    display: inline-block;
    position: relative;
    margin: 1px;
}
.inline-text {
    font-family: myfont;
    font-size: 10pt;
    display: inline-block;
    margin: 6px;
    width: 100%;
    padding: 5px;
}
.inline-form {
    font-size: 10pt;
    display: inline-block !important;
    margin: 5px;
    width: 100%;
}
.inline-box {
    font-size: 10pt;
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-right: 0px !important;
}
.inline-radio-account {
    font-family: myfont;
    font-size: 10pt;
    display: inline-block;
    margin-top: -10px;
    margin-right: -15px;
}
.inline-radio {
    font-family: myfont;
    font-size: 10pt;
    display: inline-block;
    margin-bottom: -2px;
}
.radio input[type="radio"]{
    margin-left:10px;
    margin-right:5px;
}
.radio input[type="radio"] + label{
    font-weight: 800;
}
.switch-field {
    font-family: myfont;
    font-weight: 800;
    overflow: hidden;
    text-align: right;
}
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: right;
}

.switch-field label {
    display: inline-block;
    margin: 0;
    width: 100px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: darkblue;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 0px 4px 4px 0px;
}

    .switch-field label:last-of-type {
        border-radius: 4px 0 0 4px;
    }
.wide-panel {
    width: 100%;
    display: block;
    padding: 5px;
    text-align: center !important;
}
.button {
    font-family: myfont;
    font-weight: 800;
    font-size: 12pt;
    color: #000000;
    background-color: #d0cfcf;
    border: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    vertical-align: middle;
}
.button:hover {
    background-color: #0c0184;
    color: #ffffff;
}
.uploadgroup {
    width: 100%;
    display: inline-block !important;
    position: relative;
    font-family: myfont; 
}
.panel-border {
    border-color: #60a7ff;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding-top: 10px;
    display: inline-block;
}
.radio_list {
    vertical-align:super;  
    margin-top: -1px;
}
.container {
    font-family: myfont;
}
.newsBlock {
    width: 100%;
    margin-left: 3px;
    height: 73px;
    background-color: #0c0184;
    font-family: myfont;
    position: relative;
}
.headerDatetime {
    position: absolute;
    line-height: 42px;
    margin-left: 0px;
    background-image: url(/Images/date.png);
    background-repeat: no-repeat;
    background-size: 250px 42px;
    border-radius: 5px;
    width: 250px;
    height: 42px;
}
.timeDate {
    background-color: #0c0184;
    height: 30px;
    width: 100%;
    position: relative;
    margin-left: 3px;
    margin-top: 1px;
}
.user_section {
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #0c0184;
    left: 3px;
    top: 1px;
}
.exit {
    background-image: url(/Images/signout.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 10px top 12px;
}
.headerPanel {
    width: 100%;
    background-color: #d9e1e9;
    height: 30px;
    line-height: 25px;
    margin-bottom: 5px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    font-family: myfont;
}
    .tabButtons {
        background-color: inherit;
        float: right;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 12px;
        transition: 0.3s;
        font-weight: 800;
        color: #45463d;
    }
.tabButtons:hover {
    background-color: #ddd;
    text-decoration: none;
}
.tabButtons.active {
    background-color: #ccc;
}
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.badge_counter {
    display: inline-block;
    background-color:darkblue;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: white;
    font-size: 13pt;
    font-weight: 800;
    vertical-align: middle;
    line-height: 20px;
}

.hprAttach {
    display: inline-block;
    width: 70px;
    height: 50px;
    text-align: left;
    background-color: #dcdcdc;
    color: black;
    background-image: url('/Images/received.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 45px 25px;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-left: 5px;
    font-weight: 600;
    font-family: myfont;
}
.hprAttach:hover {
    text-decoration: none;
    cursor: pointer;
}
.gridbutton { color: #428ac9 !important; }
.unselectable {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.mytooltip {
    position: absolute;
    left: -50px;
    top: 43px;
    z-index: 1000;
}

    .mytooltip .tooltiptext {
        visibility: hidden;
        background-color: #f0f0f0;
        color: black;
        min-width: 500px;
        text-align: center;
        border: 1px solid #a3a3a3;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .mytooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top:-10px;
        left: 65px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #a3a3a3 transparent;
    }

.mytooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.helpicon {
    background-image: url(/Images/help.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 5px;
    width: 30px;
    height: 30px;
}
.cropbutton {
    background-color: darkblue;
    border: none;
    font-family: myfont;
    padding: 2px;
    margin: 0;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 10pt;
}
.cropbutton:hover {
    color: rgb(221, 221, 221);
}
.search {
    font-family: myfont;
    font-weight: 700;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: right;
    font-size: 14px;
    background-color: white;
    background-image: url('/Images/Search_Dark.png');
    background-size: 15px;
    background-position: right 10px top 10px;
    background-repeat: no-repeat;
    padding: 5px 35px 5px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width .4s ease-in-out;
    width: 100%;
    height: 40px;
}
.loader {
    background-image: url(/Images/loading.png);
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.hidethis {
    display: none;
}
.CompNameBadge {
    padding: 3px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    font-family: myfont;
    font-weight: 100;
    margin: 0;
    margin-left: 1px;
    margin-right: 1px;
}
.checklabel {
    font-family: myfont !important;
    margin: 0;
    display: inline-block;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 7px;
}
input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    margin: 0;
}
.isSelected {
    background-color: lightgreen;
}
.form-controlError {
    box-shadow: 0px 0px 2px 1px rgba(255,0,0,1);
}
.checklabelError {
    box-shadow: 0px 0px 2px 1px rgba(255,0,0,1);
}
.nav >*{ font-weight: 800;}
.nav-tabs >li{ float: right!important;}
.menubody{ width: 100%;padding: 15px;border: 1px solid gainsboro;border-top: 0;background-color: white;}

.redbutton {
    font-family: myfont;
    font-weight: 800;
    font-size: 12pt;
    color: white;
    background-color: red;
    border: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    vertical-align: middle;
}

    .redbutton:hover {
        background-color: #ff2222;
        color: #ffffff;
    }

.greenbutton {
    font-family: myfont;
    font-weight: 800;
    font-size: 12pt;
    color: white;
    background-color: green;
    border: none;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    vertical-align: middle;
}

    .greenbutton:hover {
        background-color: #006300;
        color: #ffffff;
    }
#partloading, #machinePartloading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    opacity: 0.3;
    background-color: #424242;
    z-index: 250;
    text-align: center;
}

.loading-image {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 100;
    width: 45px;
    height: 45px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.notifyjs-foo-base {
    opacity: 0.95;
    font-family: myfont;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.notifyjs-foo-base .title {
    width: 100px;
    float: left;
    margin: 20px 0 0 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: black;
}

.notifyjs-foo-base .buttons {
    width: 70px;
    float: right;
    font-size: 9px;
    padding: 5px;
    margin: 2px;
}

.notifyjs-foo-base button {
    font-size: 11px;
    font-family: myfont;
    font-weight: 800;
    padding: 5px;
    margin: 2px;
    width: 60px;
    border: none;
}