/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
/* The Close Button */
.close {
    color: #000000 !important;
    position: absolute !important;
    top: -10px !important;
    left: -80px !important;
    font-size: 28px;
    z-index: 1000;
    width: 20px;
    height: 20px;
}
    .close:hover,
    .close:focus {
        color: #43383e;
        text-decoration: none;
        cursor: pointer;
    }

.fa-remove {
    position: absolute !important;
    top: 17px;
    left: 90px;
    color: red;
}

.fa-check {
    position: absolute !important;
    top: 17px;
    left: 90px;
    color: green;
}

.contactUsImage {
    height: 35px;
    width: auto;
}
