body {
    font-family: 'myfont';
}
@font-face {
    font-family: 'myfont';
    src: url('/fonts/BYekan.eot'), url('/fonts/glyphicons-halflings-regular.eot')format('embedded-opentype'), url('/fonts/BYekan.eot?#FooAnything') format('embedded-opentype');
    src: local('☺'), url('/fonts/BYekan.woff') format('woff'), url('/fonts/BYekan.ttf') format('truetype'), url('/fonts/BYekan.svg') format('svg')
}

.loginstyle {
    font-family: myfont;
    position: relative;
}

.footer-text {
    font-size: 12pt;
    font-family: myfont;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    position: absolute;
}

.panel-primary {
    font-family: myfont;
    font-size: 12pt;
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.panel-heading {
    font-size: 15pt !important;
}

.btn-success {
    font-size: 15pt;
}

.backgroundpattern {
    background-image: url(/Images/gplaypattern.jpg);
}

.label {
    font-family: myfont;
}

.input-container {
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

    .input-container input:focus, .input-container input:active {
        outline: none;
    }

    .input-container input {
        width: 60%;
        border: none;
    }

    .input-container button {
        float: left;
        top: 16px;
        left: 5px;
        background-color: transparent;
        border: none;
        outline: none;
    }

.EnterButton {
    width: 100%;
    background-color: #0f8bd8;
    border: none;
    border-radius: 2px;
    color: white;
    height: 50px;
    font-size: 14pt;
    position: absolute;
    bottom: 0;
    left: 0;
}

    .EnterButton:hover {
        background-color: #23a3f2;
    }
/* FOR CHECKBOXES  */
.container {
    display: inline-block;
    position: relative;
    width: 100%;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
    height: 17px;
    margin: 10px 0 10px 0;
}

    .container label {
        margin: 0;
        margin-right: 8px;
        line-height: 17px;
    }

    .container input {
        position: absolute;
        opacity: 0;
    }

.checkmark {
    border: 1px solid darkgray;
    position: absolute;
    top: 0;
    right: 0;
    height: 17px;
    width: 17px;
    background-color: white;
    border-radius: 2px;
}

.container:hover input ~ .checkmark {
    background-color: white;
}

.container input:checked ~ .checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 6.5px;
    height: 12px;
    border: solid #0f8ad7;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

#btn_forgetPassword:hover {
    color: #0f8ad7;
    text-decoration: none;
    cursor: pointer;
}
/* END */
.forget_pass {
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

    .forget_pass input:focus, .forget_pass input:active {
        outline: none;
    }

    .forget_pass input {
        width: 90%;
        border: none;
    }

.sendEmailButton {
    background-color: #0f8bd8;
    border: none;
    border-radius: 2px;
    color: white;
    height: 50px;
    font-size: 14pt;
    width: 45%;
}

    .sendEmailButton:hover {
        background-color: #23a3f2;
    }

.cancelEmailButton {
    background-color: darkgray;
    border: none;
    border-radius: 2px;
    color: white;
    height: 50px;
    font-size: 14pt;
    width: 45%;
}

    .cancelEmailButton:hover {
        background-color: rgb(145, 145, 145);
    }

.forgetstyle {
    font-family: myfont;
    position: absolute;
    top: 35%;
    right: 34.7%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
    width: 500px;
    display: none;
}
.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.loader {
    background-image: url(/Images/loading.png);
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.fa-lock{position: absolute; left: 135px; top:1px; color: #797979; font-size: 14px!important;}
#btnForgetPasword{position: absolute; left: 0; font-size: 12px; font-weight: 800; color: #6a6a6a;}
#btnForgetPasword:hover{ text-decoration: none;cursor: pointer;}
.PassLabel{margin-left: 10px; color: #8c8c8c; vertical-align: middle;}
.forgetPassButton{width: 60%; float: left;height: 17px; margin: 10px 0 10px 0; position: relative;}
#Password{height: 50px; direction: rtl; font-family: Arial, Helvetica, sans-serif; font-weight: normal;font-size: 14pt;}
#showPassword{line-height: 48px; margin-left: 5px; margin-right: -10px;}
.userNameLabel{margin-left: 10px; margin-right: -30px; color: #8c8c8c;vertical-align: middle;}
#UserName{height: 50px; direction: rtl; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size: 14pt;}
#pnl_login{position: absolute; top: 40%;margin-top: -100px;margin-left: -200px; text-align: center; }
.headerLogo {
    width: auto;
    height: 50px;
    position: absolute;
    right: 100px;
    top: 0;
}
.headerArea{width: 100%; height: 50px; background-color: #efefef; position: relative;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px white inset;}

.forgetHeaderArea{width: 100%; height: 50px; background-color: #0f8ad7; margin-bottom: 5px;vertical-align: middle;}
.panel-heading{ font-family: myfont;font-weight: 800;}
.linesep{width: 100%; border-top: 1px solid rgb(122, 121, 121);box-shadow: 0px 0px 1px .5px #0f8ad7;margin: 15px 0;}
.text{font-family: myfont; width: 100%; text-align: right; direction: rtl;display: block;font-size: 10pt;}
h5{font-family: myfont; width: 100%; text-align: right;font-weight: 800;}
#emailValidation{ margin-bottom: 7px; color: #8c8c8c; vertical-align: middle; width: 15px;}
#phoneValidation{ margin-bottom: 7px; color: #8c8c8c; vertical-align: middle; width: 15px;}
#txtPhoneNumber{height: 50px; direction: ltr; font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size: 14pt;}
#txtEmailAddress{height: 50px; direction: ltr; font-family: Arial, Helvetica, sans-serif; font-weight: normal;font-size: 14pt;}
.loadingtext{ margin-bottom: 0; vertical-align: middle; padding: 0; font-size: 10pt; color: green;}
.footerCompany{margin: 0; position: absolute; line-height: 50px; left: 20px;}
.footerTel{margin: 0; position: absolute; line-height: 50px; right: 20px; direction: rtl;}
.footerArea{position: absolute; bottom: 0; width: 100%; height: 50px; background-color: #e8e8e8;}
.warnlabel{font-family: myfont; width: 95%; text-align: right; line-height: 20px; direction: rtl;}
.spn{font-size: 15pt; color: red;}
.emailButtons {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

#loginloading, #Emailloading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    opacity: 0.3;
    background-color: #424242;
    z-index: 250;
    text-align: center;
}

.loading-image {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 100;
    width: 45px;
    height: 45px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
