<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="Redirect to clean URL" enabled="true" stopProcessing="true">
          <match url="^([a-z0-9/]+).aspx$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="RewriteASPX" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <connectionStrings>
    <!--<add name="sgdb" connectionString="Server=172.16.2.20;Database=sgdb;User ID=sa;Password=1qaz!QAZ" providerName="System.Data.SqlClient"/>
    <add name="CMMS" connectionString="Server=172.16.2.20;Database=CMMS;User ID=sa;Password=1qaz!QAZ" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CMMS" connectionString="Server=192.168.1.250;Database=CMMS;User ID=user;Password=Server123" providerName="System.Data.SqlClient"/>
    <add name="sgdb" connectionString="Server=192.168.1.250;Database=sgdb;User ID=user;Password=Server123" providerName="System.Data.SqlClient"/>-->
    <add name="CMMS" connectionString="Data Source=.;Initial Catalog=CMMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="sgdb" connectionString="Data Source=.;Initial Catalog=sgdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx">
      </forms>
    </authentication>
  </system.web>
</configuration>